@import "../variables/variables";
@import "../mixins/mixins";

%div_container {
    width: 100vw;
    max-width: 80rem;
    height: 25rem;

    @include flex-position(center, center, nowrap);
    flex-direction: column;

}

%bg_img_div {
    @extend %div_container;

    background: transparent;
    background-image: url(images/main-header-bg.jpg);
    background-repeat: no-repeat;
    background-position: center center;
    background-size: cover;

    text-shadow: -1px 0 map-get($colors , dark),
                0 1px map-get($colors , dark),
                1px 0 map-get($colors , dark),
                0 -1px map-get($colors , dark);
    padding-top: 15px;
}

%title {
    color: map-get($colors , light);
    font-size: 3rem;
    text-align: center;
}

%paragraph {
    font-size: 0.8rem;
    text-align: center;
    color: map-get($colors, light );
    padding: 5px 50px;
    margin: 15px 0;
}

%col {
    width: 100%;
    // max-width: 550px;
    height: 33.333%;
    padding: 1rem;

    // position: relative;
    @include flex-position(center , center, nowrap);

    flex-direction: row;

    @media (min-width: 720px) {
        width: 50%;
        height: 50%;
        flex-direction: column;
    }
}

%col_img {
    width: 50%;
    height: 100%;
    max-width: 50%;

    background: transparent;
    background-repeat: no-repeat;
    background-position: center center;
    background-size: cover;
    @media (min-width: 720px) {
        padding: 1rem 0;
    }
}

%col_subContainer {
    width:100%;
    height: 50%;
    @include flex-position(center , center, nowrap);

    flex-direction: column;
    order: 2;
}

%col_subContainer_span {
    // max-width: 70%;
    height: 100%;
    color: map-get($colors, my_gray);
    font-size: 0.75rem;
    text-align: center;
    padding: 0.5rem 1rem;
}

%col_subContainer_btn {
    // width: 5rem;
    // height: 1.5rem;
    // display: block;
    border:none;
    color: map-get($colors, light);
    background: map-get($colors, rasp);
    cursor: pointer;
    // font-size: 0.5rem;
}
