@import "../variables/variables";
@import "../mixins/mixins";


*, body {
    box-sizing: border-box;
    padding: 0;
    margin: 0;
    // background: map-get($colors , rasp );
}

.container {
    width: 100vw;
    height: 100vh;
    max-width: 100rem;
    @include flex-position(center, flex-start, wrap);
}